
/* calculator.css */


.calculator {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    text-align: left;
  }

  h1 {
    font-size: 24px;
    text-align: center;
  }

  label {
    font-weight: bold;
  }

  div {
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  select {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  button {
    display: block;
    width: 100%;
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  h2 {
    margin-top: 20px;
    font-size: 20px;
  }

  p {
    font-size: 16px;
    margin: 10px 0;
  }



  .output_class h2 {
    font-size: 20px;
    text-align: center;
    margin: 0 0 20px;
  }

  .output_class p {
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
   color:black
  }
  .output_class label {
    font-weight: bold;
  }

  #out1 {
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 3px;
  }

  #out2{
    background-color: rgba(129, 215, 148, 0.24);
border-radius: 0.3rem;
box-sizing: border-box;
flex-shrink: 0;
height: 50%;
margin-right: 7.75rem;
width: 12.75rem;



  }

  #out3{
    background-color: rgba(215, 129, 214, 0.881);
border-radius: 0.3rem;
box-sizing: border-box;
flex-shrink: 0;
height: 50%;
margin-right: 7.75rem;
padding: 1.125rem 1.601rem 1.525rem 1.549rem;
width: 12.75rem;



  }