
/* calculator.css */


.calculator {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 700px;
    margin: 0 auto;
    text-align: left;

  }

  h1 {
    font-size: 34px;
    text-align: center;
  }

  label {

    font-size: 15px;
    font-weight: 600;
  }

  div {
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    padding: 5px;
    border: 1px  hwb(0 80% 20%);

    background-color:
    #EFF2F5;
    Gap : 28px;
    height: 48px;


  }

  select {
    width: 100%;
    padding: 5px;
    border: 1px  #DEDFE2;
    border-radius: 3px;
    background-color:
    #EFF2F5;
    height: 58px;

  }



  h2 {
    margin-top: 20px;
    font-size: 20px;
  }

  p {
    font-size: 16px;
    margin: 10px 0;

  }



  .output_class h2 {
    font-size: 20px;
    text-align: center;
    margin: 0 0 20px;
  }

  .output_class p {
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
   color:black;
   height: 58px;

  }
  .output_class label {
    font-weight: bold;
  }

  #out1 {
    width: 100%;
    padding: 5px;

    border-radius: 3px;
    background-color: #e9ebef;
    color: black;
    height: 48px;

  }

  #out2{
    background-color:
    #EBF9F4;
border-radius: 0.3rem;
box-sizing: border-box;
flex-shrink: 0;
height: 7cap;
margin-right: 7.75rem;
width: 100%;

font-size: 16px;
color: black;
padding: 1.125rem 1.601rem 1.525rem 1.549rem;
font-weight: 500;
  }

  #out3{
    background-color:
    #EBF2FF;
border-radius: 0.3rem;
box-sizing: border-box;
flex-shrink: 0;
height: 7cap;
margin-right: 7.75rem;
padding: 1.125rem 1.601rem 1.525rem 1.549rem;
width: 100%;
font-size: 16px;
color: black;
font-weight: 500;

  }

  .column-container {
    display: flex;
    justify-content: space-between;
  }

  .column {
    width: 45%;
  }


.column .button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}


.button-container button {
  background-color: #e1e1e1;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  height: 48px;
  margin-top: 4px;
}


.button-container button.active {
  background-color: rgb(180, 179, 246);
  color: #fff;
  border-color: blue;
  border-radius: 10px;
  border-width: 50px;
}

#out4{
  width: 100%;
  padding: 5px;

  border-radius: 3px;
  background-color: #e9ebef;
  color: black;
  height: 48px;
}

@media (max-width: 768px) {
  .calculator {
    padding: 10px; /* Reduce padding for smaller screens */
  }
}

#out5{
  background-color: white;
  color: black;

padding: 10px;


}
#out6{
  background-color: white;
  color: black;
  font: bold;
  font-weight: 500;
}